/*Não tem cabeçário igual o HTML*/
/*cascade style sheets, não é o HTML, mas está dentro dele, colocando o style dentro da <head> */
/*tudo que for escrito dentro do style será interpretado como o CSS */
/*No CSS você influencia no HTML através de seletores, os seletores usam chaves { } e não colchetes [ ]  */
/*Dentro dos seletores você coloca as declarações  */
/*Por exemplo para mudar a cor: */
    h1{
    /*Atenção a sintaxe das declarações, tem os dois pontos e terminam com o ponto e vírgula*/
    color: rgba(16, 23, 24, 0.515);/*Quando digitar o rgb e os parenteses, deixar o cursor acima do parentese que abre o seletor */
    }
    /*Esse acima vai mudar todos os h2, para mudar toda a cor do fundo do body da página usa-se:*/
    body{
        background-color:rgb(55, 95, 128);
        }
    p {
        color:bisque;
        font-family: "Helvetica", sans-serif;
        /*Sans-serif é um nome de uma família, vai com a biblioteca de cada usuário*/
        /*Se quiser uma especifica coloca entre aspas e coloca uma segunda opção de familia depois de uma vírgula*/
        font-size: 18px;
        /*font-size 1.5em;
        /*px é pixel e em é uma medida relativa ao body*/
    }
    .nome {
        font-style: italic;
        background-color: blanchedalmond;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    .foto-rosto {
        border-radius: 50%;
        float: left;
        margin: 15px;
        margin-right: 50px;
        padding: 1%;
        background-color: black;
        /*coloca aqui as declarações*/
        /*id tem que ser exclusivos */
    }
    .indice {
        background-color:rgba(179, 192, 190, 0.712); 
        width: 10%;
        float: right;
    }
    .descrição {
        font-style:oblique;
        /*float: right;*/
    }
    .link {
        color: rgba(179, 192, 190, 0.712);
        position: relative;
        top: 80px;
        margin: 15px;
        padding: 10px;
        clear: both;
        border: 1px solid blue;

    }

    a:hover {
        color: #000;
        background-color: rgba(0, 0, 0, 0.200);
    }