* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    padding: 0 10px;
  }
  
  a:hover {
    opacity: 1;
  }
  
  a:visited, a:hover, a:active {
    color: inherit;
  }
  
  header {
    background-color: white;
    width: 100%;
    position: absolute;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    width: 200px;
  }
  
  header a {
    color: #191c03;
  }
  
  .hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
  }
  
  .hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .hero .btn {
    background-color: white;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
  }
  
  .know-the-hotel {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .know-the-hotel h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
    color: #191c03;
  }
  
  .know-the-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: #191c03;
  }
  
  .know-the-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .know-the-hotel .grid li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
  }
  
  .know-the-hotel .grid li.small {
    flex-basis: 40%;
  }
  
  .know-the-hotel .grid li.large {
    flex-basis: 60%;
  }
  
  ul {
    list-style: none;
  }
  
  .features {
    background-color: #191c03;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .features h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
    color: white;
  }
  
  .features p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: white;
  }
  
  .features hr {
    width: 200px;
    height: 2px;
    margin-bottom: 70px;
    border: none;
    background-color: white;
  }
  
  .features .grid {
    width: 100%;
    display: flex;
  }
  
  .features .grid li {
    padding: 0 30px;
    text-align: center;
  }
  
  .features .grid li i {
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  
  .features .grid li h4 {
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #191c03; */
    padding: 50px 0;
  }
  
  footer ul {
    display: flex;
    margin-bottom: 25px;
  } 